-i https://pypi.org/simple
attrs==21.4.0
cycler==0.11.0
fonttools==4.33.3
iniconfig==1.1.1
kiwisolver==1.4.2
matplotlib==3.5.1
numpy==1.22.3
packaging==21.3
pandas==1.4.2
pillow==9.3.0
pluggy==1.0.0
py==1.11.0
py4j==0.10.9.5
pyarrow==7.0.0
pyparsing==3.0.8
pyspark==3.2.2
pytest==7.2.0
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
tomli==2.0.1
wget==3.2
